#content {
  height: calc(100vh - 50px) !important;
  overflow-y: scroll;
}

#button_bar {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-content: center;
  gap: 2px;
  padding: 2px;
  box-sizing: border - box;
  background: lightgrey;
}

.flex {
  display: flex;
}

.material-icons: hover: after {
  top: 100px;
  left: 100px;
  position: relative;
  padding: 2px;
  border: 1px solid black;
  background: white;
  font-size: 8px;
}

.small {
  font-size: 12px;
}

textarea {
  resize: none;
}

#navigationmenu {
	text-align: end;
	width: 40%;
}
