
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    form {
      text-align: center;
    }

    form label {
      display: block;
      margin-bottom: 5px;
    }

    form input {
      width: 200px;
      padding: 5px;
      margin-bottom: 10px;
    }

    form button {
      margin-right: 10px;
    }

    #mylink {
      font-size: 25px;
    }
