.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* WIDGET */
.widget-wrap {
  width: 90%;
  max-height: 80%;
  min-width: 80%;
  padding: 0px 20px;
  border-radius: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  position: relative;
}

.widget-wrap>h1 {
  text-align: center;
}

#sortlist {
  list-style: none;
  padding: 0;
  margin: 15px;

  max-height: 70%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#scrollbar {
  height: inherit;
  overflow-y: auto;
  min-width: 80%;
  padding: 15px;
  background: transparent;
}

#sortlist li {
  padding: 10px 0px 0px 0px;
  background: transparent;
}

#sortlist>li>div {
  margin: 0px;
  background: white;
  padding: 15px;
  border: 1px solid black;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget-wrap .closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 40px;
  text-decoration: none;
}

#sortbuttons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.overlayButton {
  font-size: 14px;
}

#productdropdowndiv {
  display: inline-flex;
}