.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* WIDGET */
.overlay .widget-wrap {
  width: 90%;
  max-height: 80%;
  min-width: 80%;
  border-radius: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 20px 20px 20px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.7);
}

.overlay h1 {
	text-align: center;
  	margin-bottom: 20px;
	font-size: 35px;
}

#sortlist {
  list-style: none;
  padding: 0;
  margin: 15px;
  max-height: 70%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#scrollbar {
  height: inherit;
  overflow-y: auto;
  min-width: 80%;
  padding: 15px;
  background: transparent;
}

#sortlist li {
  padding: 10px 0px 0px 0px;
  background: transparent;
}

#sortlist > li > div {
  margin: 0px;
  background: white;
  padding: 15px;
  border: 1px solid black;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget-wrap .closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 40px;
  text-decoration: none;
}

.overlay .closebtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#sortbuttons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.overlayButton {
  font-size: 14px;
}

.overlayButton:hover {
  cursor: pointer;
}

.overlay button {
	cursor: pointer;
}

#productdropdowndiv {
  display: inline-flex;
}

.overlay .closebtn:hover, .overlay .closebtn:focus {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}